<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cyanogenmod.dockaudio"
      android:versionCode="1"
      android:versionName="1.0"
      android:sharedUserId="android.uid.system">
    <application>
        <receiver android:name=".DockAudio" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.DOCK_EVENT" />
                <action android:name="com.cyanogenmod.dockaudio.DISABLE_AUDIO" />
                <action android:name="com.cyanogenmod.dockaudio.ENABLE_ANALOG_AUDIO" />
                <action android:name="com.cyanogenmod.dockaudio.ENABLE_DIGITAL_AUDIO" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>
