<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cyanogenmod.dockaudio"
      android:versionCode="3"
      android:versionName="1.1"
      android:sharedUserId="android.uid.system">
    <application android:persistent="true">
        <receiver android:name=".DockAudio" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOCK_EVENT" />
                <action android:name="com.cyanogenmod.dockaudio.UNDOCK" />
                <action android:name="com.cyanogenmod.dockaudio.ENABLE_SPEAKER_AUDIO" />
                <action android:name="com.cyanogenmod.dockaudio.ENABLE_ANALOG_AUDIO" />
                <action android:name="com.cyanogenmod.dockaudio.ENABLE_DIGITAL_AUDIO" />
            </intent-filter>
        </receiver>
        <receiver android:name=".OnBoot" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".ListenSwitch" android:enabled="true" />
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>
